deny bootp;    #default
authoritative;
ddns-update-style none;

subnet 192.168.{{node}}.0 netmask 255.255.255.0 #GREEN
{
pool {
        range 192.168.{{node}}.100 192.168.{{node}}.199;
     }
        option subnet-mask 255.255.255.0;
        option domain-name "localdomain";
{% if test_prod == "test" %}
        option routers 192.168.{{node}}.{{green_testhost}};
{% else %}
        option routers 192.168.{{node}}.{{green_host}};
{% endif %}
        option domain-name-servers 192.168.{{node}}.{{green_dnsserver}};
        default-lease-time 3600;
        max-lease-time 7200;
} #GREEN

