{% if test_prod == "test" %}
ENABLE_GREEN=off
{% else %}
ENABLE_GREEN=on
{% endif %}
ENABLEBOOTP_GREEN=off
START_ADDR_GREEN=192.168.{{node}}.{{dhcp_range_start}}
END_ADDR_GREEN=192.168.{{node}}.{{dhcp_range_end}}
DEFAULT_LEASE_TIME_GREEN=60
MAX_LEASE_TIME_GREEN=120
DOMAIN_NAME_GREEN=localdomain
DNS1_GREEN=192.168.{{node}}.{{green_dnsserver}}
DNS2_GREEN=
NTP1_GREEN=
NTP2_GREEN=
WINS1_GREEN=
WINS2_GREEN=
SORT_LEASELIST=IPADDR
SORT_FLEASELIST=FIPADDR
DNS_UPDATE_ENABLED=off
DNS_UPDATE_KEY_ALGO_GREEN=
DNS_UPDATE_KEY_NAME_GREEN=
DNS_UPDATE_KEY_SECRET_GREEN=
FILE_GREEN=
NEXT_GREEN=
