ENABLE_SAFE_SEARCH={{dnssettings_safe_search}}
ENABLE_SAFE_SEARCH_YOUTUBE={{dnssettings_safe_search_youtube}}
PROTO={{dnssettings_proto}}
QNAME_MIN={{dnssettings_qname}}
USE_ISP_NAMESERVERS={{dnssettings_use_isp}}
