CONFIG_TYPE=1
GREEN_DEV=green0
GREEN_MACADDR=
GREEN_DESCRIPTION='"green0: internal network"'
GREEN_DRIVER=
RED_DEV=red0
RED_MACADDR=
RED_DESCRIPTION='"red0: external network"'
RED_DRIVER=
GREEN_ADDRESS={{green_ip}}
GREEN_NETMASK=255.255.255.0
GREEN_NETADDRESS=192.168.{{node}}.0
GREEN_BROADCAST=192.168.{{node}}.255
RED_DHCP_HOSTNAME={{firemypi_hostname}}
RED_DHCP_FORCE_MTU=
RED_ADDRESS=0.0.0.0
RED_NETMASK=0.0.0.0
RED_TYPE=DHCP
RED_NETADDRESS=0.0.0.0
RED_BROADCAST=255.255.255.255
DNS1=
DNS2=
DEFAULT_GATEWAY=
