ALIENVAULT={{alienvault}}
BLOCKLIST_DE={{blocklist_de}}
BOGON_FULL={{bogon_full}}
BOGON={{bogon}}
CIARMY={{ciarmy}}
DSHIELD={{dshield}}
EMERGING_COMPROMISED={{emerging_compromised}}
EMERGING_FWRULE={{emerging_fwrule}}
ENABLE={{ipblocklist_enable}}
FEODO_AGGRESSIVE={{feodo_aggressive}}
FEODO_IP={{feodo_ip}}
FEODO_RECOMMENDED={{feodo_recommended}}
LOGGING={{ipblocklist_enable}}
SHODAN={{shodan}}
SPAMHAUS_DROP={{spamhaus_drop}}
SPAMHAUS_EDROP={{spamhaus_edrop}}
TOR_ALL={{tor_all}}
TOR_EXIT={{tor_exit}}
