LOGVIEW_REVERSE={{log_reverseview}}
LOGVIEW_VIEWSIZE={{log_linesperpage}}
LOGWATCH_KEEP={{log_keepsummaries}}
LOGWATCH_LEVEL={{log_summarydetail}}
ENABLE_REMOTELOG={{log_remoteenabled}}
REMOTELOG_ADDR={{log_remoteserver}}
REMOTELOG_PROTOCOL={{log_remoteprotocol}}
