ROOTCERT_STATE=
DMTU=1400
ROOTCERT_COUNTRY=US
ENABLED_BLUE=off
TLSAUTH=
ROOTCERT_ORGANIZATION={{domain}}
ROOTCERT_OU=
DCIPHER={{ovpn_dcipher}}
ROOTCERT_EMAIL=
ROOTCERT_HOSTNAME={{firemypi_fqdn}}
ENABLED_ORANGE=off
DAUTH=SHA512
DOVPN_SUBNET=10.0.{{node}}.0/255.255.255.0
DCOMPLZO=off
DPROTOCOL=udp
ROOTCERT_CITY=
ENABLED={{ovpn_enabled}}
VPN_IP={{firemypi_fqdn}}
DDEST_PORT=1194
